[*.cs]
indent_size = 4
indent_style = space
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0090.severity = none

[*.csproj]
insert_final_newline = false
trim_trailing_whitespace = false
